# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore large data files (You might want to store them elsewhere)
data/

# Ignore output files
main_project/output/
main_project/saved_models/

